body {
    background-size: cover;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status_of_model, #status_of_object, #note1, #status {
    font-size: 18px;
}

canvas {
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px gray;
}